/* Box Model Hack */
:root {
    --background-1: rgb(114, 121, 117);
    --background-2: rgb(15, 32, 41);
    --grey: rgba(245, 245, 245, 0.5);

    --accent-1: rgb(255, 255, 255);
    --accent-2: rgb(149, 223, 45);
    --accent-3: rgb(161, 239, 51);
    --accent-4: rgb(250, 250, 244);
    --accent-5: rgb(148, 148, 135);

    --box-shadow-color: white;
    --font-color-1: white;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);

}


*::selection {
    color: var(--accent-1);
    background: none;

}


/*------------------------------------------BASE STYLES----------------------------------*/
h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 20px;
}

.subtitle {
    font-size: 2.1rem;
    font-weight: 600;
    margin: 10px 0 50px 0;
    color: var(--accent-2);
}

body {
    background: rgb(76, 86, 88);
    background: var(--background-1)
}

h3 {
    font-size: 2em;
}

.hidden {
    visibility: hidden;
}

.to-top {
    font-size: 4em;
    color: rgba(245, 245, 245, 0.5);
    color: var(--grey);
    position: fixed;
    right: 15px;
    bottom: 20px;
}


/*------------------------------------------NAV AT TOP----------------------------------*/
/* hide nav bar extra list */
#mobileNav {
    display: none;
}

/* hide checkbox */
input#boxCheck {
    display: none;
}

header, ul, li, a {
    display: flex;
    align-items: center;
    justify-content: center;

}



/* nav {
    display: flex;

}

nav {
    flex-basis: 50vw;
}
 */
nav li {
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    min-width: 20vw;
    height: 40px;
    font-size: 4px;
}

nav li:hover {
    background: #93999969;
    color: var(--grey);
}



.list a {
    font-size: 1.7rem;
    color: rgb(197, 209, 202);
    color: rgb(174, 174, 174);
    font-weight: 900;
    width: 100%;
    height: 100%;
}

nav li:hover+.list {
    font-size: 3rem;

}


/* ---------------------------HEADER---------------------------- */
header {
    /* background: linear-gradient(360deg, rgb(71, 71, 71), rgba(255, 255, 255, 0.844)); */
    background: rgb(241, 241, 241);
    background: var(--background-2);
    border-bottom: 1px solid black;
    border-bottom: 1px solid var(--background-2);
    height: 6vh;

}


/*------------------------------------------MAIN----------------------------------*/


main {
    text-align: center;
    padding: 20px 4vw 80px 4vw;

}

h1 span {
    color: rgb(53, 60, 71);
}

.here {
    padding-bottom: 30px;
}




/* --------------------------------------  Projects  ----------------------------------------- */

/* #websitesContainer * {
    font-size: 1.25em;
} */

#websitesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    width: 91vw;
}

#websitesContainer article.row {
    display: flex;
    justify-content: space-evenly;
}

#websitesContainer article.row .gifContainer {
    width: 35vw;


}

/* ============================= overlay for when down========================================= */
.overlay-container {
    position: relative;
    display: inline-block;
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(69, 69, 69, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
}

/* ============================= 4 containers ========================================= */
.gifContainer {
    /* background-color: rgba(255, 255, 255, 0.303); */
    border-radius: 10px;
    position: relative;
    z-index: 1;
    padding-top: 25px;
    padding: auto 25px;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    /* min-height: 480px; */
    height: auto;
    box-shadow: 1px 2px 10px white;
    box-shadow: 1px 1px 10px var(--box-shadow-color);
}

.gifContainer figure {
    height: auto;
}

.gifContainer figure img {
    width: 70%;
    height: 240px;
}

.gifContainer p {
    font-size: 1.7em;
    margin: auto 20px;
}

/* img[src*="pixels"] {
    margin: 3px auto 10px auto;
} */

.gifContainer h3.title {
    color: var(--accent-3);
    font-size: 2rem;
    font-weight: 600;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    min-height: 4rem;
    height: auto;
}

.visit-buttons {
    margin-top: 7%;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
}



.visit-buttons a {
    min-width: 30%;
}

.visit-buttons button {
    min-width: 100%;
}


.gifContainer .link-to-project1 {
    /* margin-top: 5%; */
    background-color: rgba(250, 235, 215, 0);
    color: var(--accent-4);
    font-size: 1.4em;
    /* width: 30%; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.453);
    border: none;
    /* border: 1px solid white; */
    border-radius: 4px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.gifContainer .link-to-project1:hover {
    background-color: var(--background-2);
    box-shadow: 1px 1px 10px var(--accent-3);
}

.link-to-project1 .fa-square-github {
    font-size: 1.5em;
    color: rgb(60, 67, 67);
}

.gifContainer .tech-icons {
    /*    position: absolute;
    bottom: 12px;
    left: 5%; */
    margin-top: 10%;
    color: rgb(220, 220, 220);
    font-size: 3.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.gifContainer .tech-icons div {
    flex-basis: 15%;
}

.gifContainer .tech-icons img {
    width: 30px;
    transition: transform 0.15s ease;

}

@media only screen and (min-width: 768px) {
    .gifContainer .tech-icons img:hover {
        transform: scale(1.7);
    }
}


img[alt="mongodb"] {
    background-color: aliceblue;
    border-radius: 5px;
}


.gifContainer .link-to-github {
    /*     position: absolute;
    bottom: 12px;
    right: 5%; */
    color: rgb(220, 220, 220);
    font-size: 3.5em;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px white;
    box-shadow: 1px 1px 1px var(--accent-5);
    border-radius: 4px;
    transition: transform 0.15s ease;
}

@media only screen and (min-width: 768px) {
    .gifContainer .link-to-github:hover {
        background-color: rgb(252, 252, 252);
        background-color: var(--accent-2);
        transform: scale(1.3);
    }
}

.gifContainer h4 {
    font-size: 1.8rem;
    margin: 15px auto 10px auto;
    width: 70%;
    line-height: 1em;
    padding: auto 50%;
}

.gifContainer button a {
    font-size: 1.5rem;
    padding: 20px auto;
}






/* .gifContainer div img:hover {
    transition: .5s;
    width: 84%;
    box-shadow: 1px 5px 5px rgb(166, 171, 163);

} */


/*------------------------------------------THE PROCESS----------------------------------*/
main+section>div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    flex-direction: column;
    flex-basis: 100%;
    margin-top: 40px;
    padding-top: 30px;
    min-height: 100VH;
    height: auto;
}

.more {
    min-height: 80vh;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    /* line-height: 3rem; */
    text-align: center;
    margin-top: 20px;
}

.line {
    margin: 10px auto 20px auto;
    border-bottom: solid 1.5px black;
    width: 15%;
}

.theProcess {
    background: rgb(76, 86, 88);
    background: var(--background-2);
}

.conatinerForNavAndProcessPages {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0%;
}

.slide-left-container, .slide-right-container {
    display: flex;
    font-size: 10em;
    flex-basis: 32.5vw;
    justify-content: center;
}

.slide-left {
    position: relative;
    top: 100px;
    left: 7vw;
    rotate: 270deg;
    color: var(--grey);
}

.slide-left:hover, .slide-right:hover {
    color: rgb(89, 171, 38);
    color: var(--accent-2);
}

.slide-right {
    position: relative;
    top: 100px;
    right: 7vw;
    rotate: 90deg;
    color: var(--grey);
}

.proposalPicsContainer {
    display: flex;
    flex-direction: row;
    flex-basis: 35vw;
    max-height: 80vh;
    background-color: beige;
    height: auto;
    overflow-x: scroll;
    border: 1px solid black;
}

.proposalPicsContainer {
    overflow-x: scroll;
}

.proposalPicsContainer::-webkit-scrollbar {
    width: 13px;
    /* Width of the entire scrollbar */
}

.proposalPicsContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

.proposalPicsContainer::-webkit-scrollbar-thumb {
    background-color: var(--accent-3);
    /* Color of the scroll thumb */
    border-radius: 20px;
    /* Rounded corners */
    border: 3px solid rgb(176, 174, 174);
}

.proposalPicsContainer img {
    width: 100%;

}

/*------------------------------------------ORDER WEBSITE----------------------------------*/

.order-website form {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.order-website h2 {
    margin-bottom: 30px;

}

.order-website input {
    font-size: 2.5rem;
    padding: 10px;
    width: 20vw;
    margin-top: 5px;
}

.order-website input {
    background-color: var(--background-2);
    color: white;
    color: var(--accent-2);
}

textarea {
    background-color: var(--background-2);
    font-size: 2rem;
    padding: 10px;
    color: var(--accent-2);
    width: 30vw;
    margin-top: 5px;
}

.send {
    width: 80px;
    background-color: var(--background-2);
    color: var(--accent-2);
}

h5 {
    font-size: 1.5em;
}

textarea::selection {
    background: transparent;

}

img[src*='eagle1'] {
    width: 23vw;
    float: left;
    margin: 10px 20px 0 0;
}



/*------------------------------------------ABOUT ME----------------------------------*/
.aboutMe {
    background: rgb(210, 218, 210);
    background: var(--background-2);
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe h2 {
    width: 100%;
}

.containAbout * {
    color: var(--font-color-1);
    font-weight: 700;
}

.containAbout {
    width: 80vw;
}

.containAbout div {
    margin-top: 35px;
    font-size: 2.5em;
    line-height: 2;
}

.mePic {
    display: block;
    margin-left: 30px;
    width: 15vw;
    float: right;
}


/* .statesVisitedLink {
    color: white;
    color: var(--accent-2);
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    width: 200px;
    border-radius: 8px;
    border: 2px solid var(--accent-2);
    background-color: rgb(71, 71, 71);

} */

.statesPic {
    margin-top: 10px;
    width: 20vw;
}

.about-me-pics-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/*------------------------------------------MORE SERVICES----------------------------------*/
.more h4 {
    text-align: center;
    font-size: 3em;
    margin-top: 30px;
    color: var(--accent-2)
}


/*------------------------------------------FOOTER----------------------------------*/
footer {
    background-color: grey;
    background-color: var(--background-2);
    height: 80px;
}



/* ------------------socials------------- */

.socials {
    display: flex;
}

section.socials {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 200px 38% 0 38%;
    height: 70px;
}



.socials div {
    width: 28%
}

.socials div i {
    color: white;
    font-size: 3.5rem;

}

.socials div i:hover {
    color: var(--accent-2);
    font-size: 5rem;
    transition: transform 0.2s ease;

}

@media only screen and (min-width: 768px) {
    .socials div i:hover {
        transform: scale(1.2);
    }
}




.email-p {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    font-size: 2em;
}







/*-----------------------------------------MOBILE----------------------------------*/
/*-----------------------------------------QUERIES-------------------------------*/



@media screen and (max-width: 1350px) {

    h1+p {
        font-size: 3.5rem;
        font-weight: 350;
        margin: 20px 0 40px 0;
    }

    /*this is for stacking the cards in main for tablet to phone*/
    main section.twoDivs {
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* flex-basis: 100%; */
        flex-direction: column;
        margin: 50px 1% 100px 1%;
        gap: 3vw;
        height: auto;
    }

    .websites {
        margin-left: 0%;
    }

    .application {
        height: auto;
    }

    #websitesContainer * {
        font-size: 2.5rem;
    }

    #websitesContainer .gifContainer {
        /* border-bottom: solid rgb(255, 255, 255) 2px; */
        padding-bottom: 50px;
        margin-bottom: 20px;
        margin-top: 30px;

    }

    .gifContainer div {
        height: auto;
    }

    .gifContainer figure img {
        margin-top: 22px;
        width: 85%;
        height: auto;
    }

    .gifContainer p {
        font-size: 3.5rem;

    }

    .row .gifContainer {
        padding: auto 20px;
        min-height: auto;
    }

    .gifContainer h4 {
        font-size: 5rem;
        margin-bottom: 20px;

    }

    .gifContainer .link-to-project {
        color: var(--accent-4);
        font-size: 10px;
        /* border: 1px solid white; */
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .gifContainer .link-to-project:hover {
        background-color: var(--accent-2);
    }

    .gifContainer a {
        padding-top: 40px;
    }

    /*  .gifContainer div img:hover {
        transition: .5s;
        width: 100%;
        box-shadow: 1px 5px 5px rgb(255, 255, 255);

    } */

    h2 {
        font-size: 4.2rem;
        font-weight: 600;
        /* line-height: 3rem; */
        text-align: center;
    }

    h3 {
        font-size: 3em;
    }

    header {
        height: 0;
    }

    /* MOBILE DROPDOWN FOR hamNav */

    #desktopNav {
        display: none;
    }

    .dropdownItems {
        display: none;
    }

    #mobileNav {
        display: block;
        font-size: 3rem;
        font-weight: 900;

    }

    /* the label  - 3bars */
    .mobileNav {
        color: rgb(132, 139, 132);
        background: rgba(167, 167, 89, 0);
        font-style: none;
        font-size: 7rem;
        position: fixed;
        top: 3vh;
        right: 3vw;
        display: block;
        z-index: 6;
    }



    /*-----creates dropdown block---*/
    input#boxCheck:checked~#dropdownItems {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
        box-sizing: border-box;
        position: fixed;
        top: 0vh;
        right: 0;
        width: 35vw;
        height: 100%;
        border-top: 1px solid rgb(65, 63, 63);
        text-decoration: none;

        font-size: 10rem;
        background-color: rgba(7, 11, 22, 0.863);
        z-index: 5;
        padding: 3px 10px;
    }

    #dropdownItems a {
        color: rgb(186, 188, 186);
    }


    #dropdownItems li {
        width: 100%;

    }


    #dropdownItems li:hover {
        background-color: rgb(105, 111, 111);
    }

    .hidden {
        visibility: hidden;
        height: auto;
        flex-basis: 70%;
    }

    /* proposal ---------------------------------------*/
    .slide-left-container, .slide-right-container {
        display: flex;
        font-size: 10em;
        flex-basis: 10vw;
        justify-content: center;
    }

    .slide-left {
        position: relative;
        top: 100px;
        left: 7vw;
        rotate: 270deg;
        color: rgba(112, 101, 101, 0.7);
    }

    .slide-right {
        position: relative;
        top: 100px;
        right: 7vw;
        rotate: 90deg;
        color: rgba(112, 101, 101, 0.7);
    }

    .proposalPicsContainer {
        display: flex;
        flex-direction: row;
        flex-basis: 80vw;
        max-height: 80vh;
        background-color: beige;
        height: auto;
        overflow-x: scroll;
        border: 1px solid black;
        margin-top: 20px;
    }

    .to-top {
        font-size: 5em;
        color: rgba(20, 168, 45, 0.637);
        color: var(--accent-3);
        position: fixed;
        right: 25px;
        bottom: 25px;
    }

    /* ---------- order website ----------------- */
    .order-website input {
        font-size: 2rem;
        padding: 10px;
        width: 50vw;
        margin-top: 5px;
    }

    textarea {
        font-size: 2rem;
        padding: 10px;
        color: rgb(52, 51, 51);
        width: 80vw;
        margin-top: 5px;
    }

    .send {
        width: 20vw;
        height: 35px;
    }

    /* ------------- about me ------------------ */
    .statesPic {
        width: 30vw;
        margin-bottom: 30px;
    }

    .socials div i:hover {
        color: white;
        font-size: 1.5em;
    }


}

@media screen and (max-width: 1000px) {
    /* main+section>div {

        margin-top: 40px;
        padding-top: 30px;
        min-height: auto;
    } */

    h1 {
        font-size: 4.5rem;
        font-weight: 600;
        padding: 30px 20% 20px 20%;
    }

    .subtitle {
        margin-top: 0px;
    }

    .to-top {
        font-size: 7em;
    }

    #websitesContainer * {
        font-size: 3rem;
    }



    .gifContainer .link-to-project1 {
        color: var(--accent-4);
        font-size: 10px;
        margin: auto 25%;
        margin-bottom: 10px;
        /* border: 1px solid white; */
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .gifContainer .link-to-project1:hover {
        background-color: transparent;
    }

    .gifContainer .link-to-github:hover {
        background-color: transparent;
    }

    /* this will hide the word gitHub on movile for a smaller button */

    .visit-buttons {
        margin-top: 2%;
        padding: 0 10%;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 3%;
        flex-direction: column;
    }


    .websites {
        margin-top: 10px;
    }

    .cardButtons {
        margin: auto 0%;
        height: 80px;
        padding: 20px auto;
        font-size: 7rem;
        margin-bottom: 15px;
        font-weight: 700;
    }

    .more {
        min-height: 50vh;
    }

    .slide-left-container nav, .slide-right-container nav {
        display: none;
    }


}